@font-face {
  font-family: 'DOSGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: 'DOSGothic';
}
.explain{
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
}

.box{

  width: 400px;
}

.item-img{
  width: 200px;
}

.main{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  text-align: center;
}


.btn{
  margin:auto;
  margin-top: 30px;
  text-align: center;

}

img{
  width: 200px;
}

button{
  border: none;
  background:none;
}